.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 35rem;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;

    .name {
      width: 90%;
      margin-bottom: 1.5rem;
    }

    .price {
      width: 10%;
    }
  }

  .custom-button {
    width: 80%;
    padding: 1.5rem 2rem;
    opacity: 0.7;
    position: absolute;
    top: 70%;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: inline-block;
    }
  }
}
