.sign-in {
  width: 38rem;
  margin-top: 8rem;

  .heading-sign {
    font-size: var(--fontSeven);
    font-weight: 500;
    margin-bottom: 2.4rem;
  }

  .heading-subtitle {
    font-size: var(--fontSix);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
