.cart-icon {
  height: 4.5rem;
  min-width: 4.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .shopping-icon {
    width: 50%;
    height: 50%;
  }

  .item-count {
    position: absolute;
    font-size: var(--fontFour);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
  }
}
