.sign-up {
  display: flex;
  flex-direction: column;
  width: 38rem;

  .title {
    font-size: var(--fontSeven);
    font-weight: 500;
    margin-bottom: 2.4rem;
  }

  span {
    font-size: var(--fontSix);
  }
}
