.header {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15rem;
  position: relative;

  .logo-container {
    height: 100%;
    width: 7rem;
    padding: 2.5rem;
  }

  .logo {
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.4rem;

    .option {
      font-size: var(--fontFive);
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      color: #555;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
