/*
  GLOBAL RESET FOR ORIGINAL HTML CSS IS SLIGHTLY DIFFERENT
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

*/

* {
  padding: 0%;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

#root {
  padding: 2rem 6rem;
}
