/*
  GLOBAL RESET FOR ORIGINAL HTML CSS IS SLIGHTLY DIFFERENT
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

*/

:root {
  --fontOne: 0.422rem;
  --fontTwo: 0.563rem;
  --fontThree: 0.75rem;
  --fontFour: 1rem;
  --fontFive: 1.333rem;
  --fontSix: 1.777rem;
  --fontSeven: 2.369rem;
  --fontEight: 3.157rem;
  --fontNine: 4.209rem;
}

* {
  padding: 0%;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

#root {
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  color: black;
}
